<div class="row">
  <div class="col-10 offset-md-1">
    <table class="table">
      <tbody>
        <tr>
          <th class="col-1"></th>
          <th class="col-3"><strong>機器名</strong></th>
          <td class="col-1"></td>
          <td class="col-6"><%= @product.title %></td>
        </tr>
      </tbody>

      <tbody>
        <tr>
          <th class="col-1"></th>
          <th class="col-3"><strong>メーカー</strong></th>
          <td class="col-1"></td>
          <td>
            <% if @product.manufacture.present? %>
              <%= @product.manufacture %>
            <% else %>
             <span>-</span>
            <% end %>
          </td>
        </tr>
      </tbody>

      <tbody>
        <tr>
          <th class="col-1"></th>
          <th class="col-3"><strong>型式</strong></th>
          <td class="col-1"></td>
          <td><%= @product.model %></td>
        </tr>
      </tbody>

      <tbody>
        <tr>
          <th class="col-1"></th>
          <th class="col-3"><strong>ジャンル</strong></th>
          <td class="col-1"></td>
          <td><%= @product.genre.name %></td>
        </tr>
      </tbody>

      <tbody>
        <tr>
          <th class="col-1"></th>
          <th class="col-3"><strong>定価</strong></th>
          <td class="col-1"></td>
          <td>
            <% if @product.price.present? %>
              <%= @product.price %>円
            <% else %>
              <span>- 円</span>
            <% end %>
          </td>
        </tr>
      </tbody>

      <tbody>
        <tr>
          <th class="col-1"></th>
          <th class="col-3"><strong>寸法</strong><%= @product.product_size_unit %></th>
          <td class="col-1"></td>
          <td><%= @product.product_size %></td>
        </tr>
      </tbody>

      <tbody>
        <tr>
          <th class="col-1"></th>
          <th class="col-3"><strong>重量</strong></th>
          <td class="col-1"></td>
          <td>
            <% if @product.weight.present? %>
              <%= @product.weight %>kg
            <% else %>
              <span>- kg</span>
            <% end %>
          </td>
        </tr>
      </tbody>

      <tbody>
        <tr>
          <th class="col-1"></th>
          <th class="col-3"><strong>電源</strong></th>
          <td class="col-1"></td>
          <td>
            <% if @product.phase.present? %>
              <%= @product.phase %>
            <% else %>
              <span>-</span>
            <% end %>
          </td>
        </tr>
      </tbody>

      <tbody>
        <tr>
          <th class="col-1"></th>
          <th class="col-3"><strong>消費電力</strong></th>
          <td class="col-1"></td>
          <td>
            <% if @product.power_consumption.present? %>
              <%= @product.power_consumption %>kW
            <% else %>
              <span>- kW</span>
            <% end %>
          </td>
        </tr>
      </tbody>

      <tbody>
        <tr>
          <th class="col-1"></th>
          <th class="col-3"><strong>ガス消費量(都市ガス)</strong></th>
          <td class="col-1"></td>
          <td>
            <% if @product.city_gas.present? %>
              <%= @product.city_gas %>kW
            <% else %>
              <span>- kW</span>
            <% end %>
          </td>
        </tr>
      </tbody>

      <tbody>
        <tr>
          <th class="col-1"></th>
          <th class="col-3"><strong>ガス消費量(PLガス)</strong></th>
          <td class="col-1"></td>
          <td>
            <% if @product.propane_gas.present? %>
              <%= @product.propane_gas %>kW
            <% else %>
              <span>- kW</span>
            <% end %>
          </td>
        </tr>
      </tbody>

      <tbody>
        <tr>
          <th class="col-1"></th>
          <th class="col-3"><strong>機器説明</strong></th>
          <td class="col-1"></td>
          <td><%= @product.description %></td>
        </tr>
      </tbody>
