<!--商品登録時に画像のフォームを追加する-->
<div class="nested-fields">
  <%= f.label :"機器画像" %>
  <%= f.file_field :images, class: "push", onchange: "loadImage(this);" %>
  <%= f.label :"画像説明" %><br />
  <%= f.text_field :description %>
  <%= link_to_remove_association "画像を削除する", f, class: 'btn' %>
</div>
