<div class="container">
  <% if @target == "image" %>
  <!--画像編集をクリックした時------------------------------------------------------------------------------------->

    <%= render 'public/products/product_image_edit', product: @product %>

  <!--商品編集をクリックした時------------------------------------------------------------------------------------>
  <% else %>
    <%= form_with model: @product, url: product_path, local:true do |f| %>


  <div class="row d-flex justify-content-center">
    <div class="col-md-3">
      <div class="card">
        <div class="card-body p-1">
          <p class="card-text text-break d-flex justify-content-center">
            現在登録されているトップ画像
          </p>
        </div>
        <div class="card-img-bottom my-3 d-flex justify-content-center">
          <%= image_tag @product.top_image, style: "object-fit: cover; width: 200px; height: 200px;" %>
        </div>
      </div>
    </div>

    <div class="col-md-auto d-flex justify-content-center">
        <%= f.label :"トップ画像を変更する場合は画像ファイルを選択してください", style: "background-color: #DDDDDD;" %>
    </div>
    <div class="col ml-5 d-flex justify-content-center">
        <%= f.file_field :top_image, style: "background-color: #EEEEEE;" %>
    </div>
  </div>

  <div class="container">
    <div class="row mt-3">
      <div class="col-2 offset-md-3 d-flex align-items-center justify-content-center" style="background-color: #DDDDDD;">
        <p class="m-0">
          <%= f.label :"機器名", class: "m-0" %>
        </p>
      </div>
      <div class="col-5 ml-3 p-2" style="background-color: #EEEEEE;" >
        <%= f.text_field :title, class: "form-control" %>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-2 offset-md-3 d-flex align-items-center justify-content-center" style="background-color: #DDDDDD;">
        <p class="m-0">
          <%= f.label :"メーカー", class: "m-0" %>
        </p>
      </div>
      <div class="col-5 ml-3 p-2" style="background-color: #EEEEEE;" >
        <%= f.select :manufacture, Product.manufactures.keys, {include_blank: '選択してください'}, class: "form-control" %>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-2 offset-md-3 d-flex align-items-center justify-content-center" style="background-color: #DDDDDD;">
        <p class="m-0">
          <%= f.label :"*型式", class: "m-0" %>
        </p>
      </div>
      <div class="col-5 ml-3 p-2" style="background-color: #EEEEEE;" >
        <%= f.text_field :model, class: "form-control"%>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-2 offset-md-3 d-flex align-items-center justify-content-center" style="background-color: #DDDDDD;">
        <p class="m-0">
          <%= f.label :"*ジャンル", class: "m-0" %>
        </p>
      </div>
      <div class="col-5 ml-3 p-2" style="background-color: #EEEEEE;" >
        <%= f.collection_select :genre_id, @genres, :id, :name, {prompt: "--選択してください--"}, class: "form-control" %>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-2 offset-md-3 d-flex align-items-center justify-content-center" style="background-color: #DDDDDD;">
        <p class="m-0">
          <%= f.label :"定価", class: "m-0" %>
        </p>
      </div>
      <div class="col-md-4 ml-3 p-2" style="background-color: #EEEEEE;" >
        <%= f.text_field :price, class: "form-control" %>
      </div>
      <div class="col-md-1 ml-3 p-2" style="background-color: #EEEEEE;" >
        円
      </div>
    </div>

    <div class="field">
      <%= f.label :"間口" %><br />
      <%= f.text_field :width %>mm
    </div>

    <div class="field">
      <%= f.label :"奥行" %><br />
      <%= f.text_field :depth %>mm
    </div>

    <div class="field">
      <%= f.label :"高さ" %><br />
      <%= f.text_field :height %>mm
    </div>

    <div class="field">
      <%= f.label :"重量" %><br />
      <%= f.text_field :weight %>kg
    </div>

    <div class="field">
      <%= f.label :"電源" %><br />
      <%= f.select :phase, Product.phases.keys, {include_blank: '選択してください'} %>
    </div>

    <div class="field">
      <%= f.label :"消費電力" %><br />
      <%= f.text_field :power_consumption %>kW
    </div>

    <div class="field">
      <%= f.label :"ガス消費量(都市ガス)" %><br />
      <%= f.text_field :city_gas %>kW
    </div>

    <div class="field">
      <%= f.label :"ガス消費量(LPガス)" %><br />
      <%= f.text_field :propane_gas %>kW
    </div>

    <% if @product.user_id == current_user.id %>
      <div class="field">
        <%= f.radio_button :allow_edit, :true, checked: true %>
          <strong>編集可能</strong></br>
        <%= f.radio_button :allow_edit, :false %>
          <strong>編集不可</strong>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :"説明" %><br />
      <%= f.text_area :description, placeholder: "その他機器の説明や特徴をお書きください" %>
    </div>

    <%= f.submit "機器情報を更新する" %>
  <% end %>

<% end %>

  </div>
</div>