<% if @target == "image" %>
<!--画像編集をクリックした時------------------------------------------------------------------------------------->
    <div>
      <% unless @product.product_images.empty? %>
        <p>現在登録されている画像（削除したいものは削除をクリックしてください）</p>
          <% @product.product_images.each do |product_image| %>
            <% product_image.images.each do |image| %>
              <%= image_tag image, style: "object-fit: cover; width: 100px; height: 100px;" %>
            <% end %>
            <%= form_with model: product_image, url: product_image_path(product_image), method: :patch, local:true do |f| %>
              <%= f.label :"画像説明" %>
              <%= f.text_field :description %>
              <%= f.submit "更新", class: "btn btn-primary" %>
            <% end %>
            <%= link_to  "削除", product_image_path(product_image), method: :delete %><br>
          <% end %>
      <% end %>
    </div>
    <%= form_with model: Product.new, url: product_path, method: :patch, local:true do |s| %>

    <div class="products">
      <%= s.fields_for :product_images do |t| %>
        <%= render "product_image_fields", f: t %>
      <% end %>
      <p>↓ボタンをクリックするとフォームを増やすことができます</p>
      <div class="links">
        <%= link_to_add_association "画像を追加する", s, :product_images, class: 'btn' %>
      </div>
    </div>
    <%= s.submit "画像情報を更新する" %>
  <% end %>

<% else %>

<!--商品編集をクリックした時------------------------------------------------------------------------------------>
  <%= form_with model: @product, url: product_path, local:true do |f| %>
    <% if @product.top_image.attached? %>
      <div class="field">
        <%= f.label :top_image do %>
          <%= image_tag @product.top_image.variant(resize:'100x100') %>
          <%= f.file_field :top_image, style: 'display:none' %>
        <% end %>
      </div>
    <% else %>
      <div class="field">
        <%= f.label :top_image do %>
          <%= image_tag 'no_image.png', size: '100x100' %>
          <%= f.file_field :top_image, style: 'display:none' %>
        <% end %>
      </div>
    <% end %>
  <%= f.submit "変更" %>


    <div class="field">
      <%= f.label :"*機器名" %><br />
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.label :"メーカー" %><br />
      <%= f.select :manufacture, Product.manufactures.keys, {include_blank: '選択してください'} %>
    </div>

    <div class="field">
      <%= f.label :"*型式" %><br />
      <%= f.text_field :model %>
    </div>

    <div class="field">
      <%= f.label :"*ジャンル" %><br>
      <%= f.collection_select :genre_id, @genres, :id, :name, prompt: "--選択してください--", class: "form-control" %>
    </div>

    <div class="field">
      <%= f.label :"定価" %><br />
      <%= f.text_field :price %>円
    </div>

    <div class="field">
      <%= f.label :"間口" %><br />
      <%= f.text_field :width %>mm
    </div>

    <div class="field">
      <%= f.label :"奥行" %><br />
      <%= f.text_field :depth %>mm
    </div>

    <div class="field">
      <%= f.label :"高さ" %><br />
      <%= f.text_field :height %>mm
    </div>

    <div class="field">
      <%= f.label :"重量" %><br />
      <%= f.text_field :weight %>kg
    </div>

    <div class="field">
      <%= f.label :"電源" %><br />
      <%= f.select :phase, Product.phases.keys, {include_blank: '選択してください'} %>
    </div>

    <div class="field">
      <%= f.label :"消費電力" %><br />
      <%= f.text_field :power_consumption %>kW
    </div>

    <div class="field">
      <%= f.label :"ガス消費量(都市ガス)" %><br />
      <%= f.text_field :city_gas %>kW
    </div>

    <div class="field">
      <%= f.label :"ガス消費量(LPガス)" %><br />
      <%= f.text_field :propane_gas %>kW
    </div>

    <% if @product.user_id == current_user.id %>
      <div class="field">
        <%= f.radio_button :allow_edit, :true, checked: true %>
          <strong>編集可能</strong></br>
        <%= f.radio_button :allow_edit, :false %>
          <strong>編集不可</strong>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :"説明" %><br />
      <%= f.text_area :description, placeholder: "その他機器の説明や特徴をお書きください" %>
    </div>

    <%= f.submit "機器情報を更新する" %>
  <% end %>

<% end %>
