<div class="container">
  <%= render 'public/searches/search_name' %>
  <%= render 'public/products/product_top', product: @product %>

  <div class="container pt-3">
    <div class="row mb-4">
      <span class="h4 offset-md-1">機器詳細</span>
      <div class="col">
        <% if user_signed_in? %>
          <% if @product.allow_edit == true %>
            <%= link_to edit_product_path, class: "text-decoration-none" do %>
              <button type="button" class="btn btn-outline-secondary p-1">
                <span>
                  機器情報を編集する
                </span>
              </button>
            <% end %>
          <% elsif @product.allow_edit == false && @product.user == current_user %>
            <%= link_to edit_product_path, class: "text-decoration-none" do %>
              <button type="button" class="btn btn-outline-secondary p-1">
                <span>
                  機器情報を編集する
                </span>
              </button>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="col-2 offset-md-2">
        <% if user_signed_in? %>
          <%= link_to product_reviews_path(@product.id), class: "text-decoration-none" do %>
            <button type="button" class="btn btn-outline-secondary p-1">
              <span>
                レビューを投稿する
              </span>
            </button>
          <% end %>
        <% end %>
      </div>
      <div class="col">
        <% if user_signed_in? %>
          <div class="favorite-<%= @product.id %>">
            <%= render 'public/favorites/favorite-btn', product: @product %>
          </div>
        <% end %>
      </div>
    </div>
    <%= render 'public/products/detail', product: @product %>
          <tbody>
            <tr>
              <th class="col-1"></th>
              <th class="col-3"><strong>タグ</strong></th>
              <td class="col-1"></td>
              <td>
                <div class="row">
                  <% @product.product_tags.each do |tag| %>
                    <div class="p-1 flex-row">
                      <%= link_to search_path('search[how]': "match", 'search[model]': "tag", 'search[value]': tag, tag_id: tag.id) do %>
                        <button type="button" class="btn btn-outline-secondary text-nowrap">
                          <%= tag.name %>
                        </button>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </td>
            </tr>
          </tbody>

          <tbody>
            <tr>
              <th class="col-1"></th>
              <th class="col-3"><strong>投稿者</strong></th>
              <td class="col-1"></td>
              <td class="col">
                <% if @product.user.present? %>
                  <% if @product.user.nickname.present? %>
                    <%= link_to @product.user.nickname, user_path(@product.user.id)%>さん
                  <% else %>
                    <%= link_to user_path(@product.user.id) do %>
                      匿名<%= @product.user.id %>さん
                    <% end %>
                  <% end %>
                <% else %>
                  管理者
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row mb-4">
      <span class="h4 offset-md-1">機器写真</span>
      <div class="col-3">
        <% if user_signed_in? %>
          <% if @product.allow_edit == true %>
            <%= link_to edit_product_path(target: "image"), class: "text-decoration-none" do %>
              <button type="button" class="btn btn-outline-secondary p-1">
                <span>
                  機器画像を編集する
                </span>
              </button>
            <% end %>
          <% elsif @product.allow_edit == false && @product.user = current_user %>
            <%= link_to edit_product_path(target: "image"), class: "text-decoration-none" do %>
              <button type="button" class="btn btn-outline-secondary p-1">
                <span>
                  機器画像を編集する
                </span>
              </button>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-10 offset-md-1">
        <div class="row">
          <% @all_images.each do |product_image| %>
            <% product_image.images.each do |image| %>
              <div class="col-2 p-1">
                <div class="card">
                  <div class="card-img-top p-1 d-flex justify-content-center">
                    <%= image_tag image, style: "object-fit: cover; width: 125px; height: 125px;" %>
                  </div>
                  <div class="card-body p-1">
                    <p class="card-text text-break">
                      <%= product_image.description %>
                    </p>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="container d-flex justify-content-center">
          <%= paginate @all_images%>
        </div>
      </div>
    </div>

    <div class="row mt-5 mb-2">
      <span class="h4 offset-md-1">レビュー</span>
      <div class="col-3 offset-md-6">
        <% if user_signed_in? %>
          <%= link_to product_reviews_path(@product.id), class: "text-decoration-none" do %>
            <button type="button" class="btn btn-outline-secondary p-1">
              <span>
                レビューを投稿する
              </span>
            </button>
          <% end %>
        <% end %>
      </div>
    </div>
    <% if @reviews.blank? %>
      <div="container-fluid">
        <div class="row">
          <div class="col d-flex justify-content-center">
            <span class="h5">まだレビューは投稿されていません</span>
          </div>
        </div>
        <div class="row">
          <div class="col d-flex justify-content-center">
            <span class="h6">この機器を使われたことがある方は、レビューを投稿してみませんか？</span>
          </div>
        </div>
      </div>
    <% else %>
    <div class="row">
      <% @reviews.each do |review| %>
        <div class="col-10 offset-md-1">
          <%= link_to product_review_path(@product.id, review.id), class: "text-decoration-none" do %>
            <%= render 'public/reviews/review_top', review: review %>
          <% end %>
          <div class="container d-flex justify-content-center">
            <%= paginate @reviews %>
          </div>
        </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>


<script>
  $('.review-evaluation').empty();
    $('.review-evaluation').raty({
      readOnly: true,
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      starHalf: "<%= asset_path('star-half.png') %>",
      score: function() {
        return $(this).attr('data-score');
      },
    });
</script>
<script>
  $('.review-average').empty();
    $('.review-average').raty({
      readOnly: true,
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      starHalf: "<%= asset_path('star-half.png') %>",
      score: function() {
        return $(this).attr('data-score');
      },
    });
</script>

