<table>
  <tbody>
    <tr>
      <th><strong>商品名</strong></th>
      <td><%= @product.title %></td>
    </tr>
  </tbody>
  <div class="favorite-<%= @product.id %>">
   <%= render 'public/favorites/favorite-btn', product: @product %>
  </div>

  <tbody>
    <tr>
      <th><strong>メーカー</strong></th>
      <td><%= @product.manufacture %></td>
    </tr>
  </tbody>

  <tbody>
    <tr>
      <th><strong>型式</strong></th>
      <td><%= @product.model %></td>
    </tr>
  </tbody>

  <tbody>
    <tr>
      <th><strong>定価</strong></th>
      <td><%= @product.price %>円</td>
    </tr>
  </tbody>

  <tbody>
    <tr>
      <th><strong>定価</strong></th>
      <td><%= @product.width %>×<% @product.depth %>×<%= @product.height %>mm</td>
    </tr>
  </tbody>

  <tbody>
    <tr>
      <th><strong>重量</strong></th>
      <td><%= @product.weight %>kg</td>
    </tr>
  </tbody>

  <tbody>
    <tr>
      <th><strong>電源</strong></th>
      <td><%= @product.phase %></td>
    </tr>
  </tbody>

  <tbody>
    <tr>
      <th><strong>消費電力</strong></th>
      <td><%= @product.power_consumption %>kW</td>
    </tr>
  </tbody>

  <tbody>
    <tr>
      <th><strong>ガス消費量(都市ガス)</strong></th>
      <td><%= @product.city_gas %>kW</td>
    </tr>
  </tbody>

  <tbody>
    <tr>
      <th><strong>ガス消費量(PLガス)</strong></th>
      <td><%= @product.propane_gas %>kW</td>
    </tr>
  </tbody>

  <tbody>
    <tr>
      <th><strong>商品説明</strong></th>
      <td><%= @product.description %></td>
    </tr>
  </tbody>
</table>
<% if @product.allow_edit == true %>
  <%= link_to "編集ページ", edit_product_path %>
<% end %>
<h1>レビュ一覧</h1>
<table>
  <thead>
    <tr>
      <th>レビュー内容</th>
      <th>評価</th>
    </tr>
  </thead>
  <tbody>
    <% @product.reviews.each do |review| %>
      <tr>
        <td><%= review.comment %></td>
        <td class="review-evaluation" data-score="<%= review.evaluation %>"></td>
      </tr>
    <% end %>
  </tbody>
</table>
<script>
  $('.review-evaluation').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>

 <%= link_to "レビュー投稿", new_product_review_path(@product.id) %>