<h3>カテゴリーから検索する</h3>
<% @genres.each do |genre| %>
  <%= link_to genre.name, search_path('search[how]': "match", 'search[model]': "genre", 'search[value]': genre, genre_id: genre.id) %>
<% end %>
<h3>タグから検索する</h3>
<% @tags.each do |tag| %>
  <%= link_to tag.name, search_path('search[how]': "match", 'search[model]': "tag", 'search[value]': tag, tag_id: tag.id) %>
<% end %>
<p>※最近登録された順に20件表示しています。</p>
<h3>検索結果</h3>
<% if @model == 'product' %>
  <h4>商品名『<%= @value %>』で商品を検索</h4>
<% elsif @model == 'genre' %>
  <h4>ジャンル『<%= @genre.name %>』で商品を検索</h4>
<% elsif @model == 'tag' %>
  <h4>タグ『<%= @tag.name %>』で商品を検索</h4>
<% end %>
<% @datas.each do |product| %>
    <%= link_to product.full_name, product_path(product.id) %>
    <%= image_tag product.top_image.variant(resize:'100x100') %><br>
<% end %>
