.row.mt-5.mb-3
  .col-md-4.d-flex
    %h4.font-weight-bold
      カテゴリーから検索する
.row.mb-5.justify-content-center
  - unless genres.blank?
    - genres.each do |genre|
      .col-md-3.col-sm-3
        .card.my-2(style="max-width: 200px;")
          = link_to search_path('search[how]': "match", 'search[model]': "genre", 'search[value]': genre, genre_id: genre.id) do
            .bg_image
              - if genre.image.attached?
                = image_tag genre.image, style: "object-fit: cover; width: 200px; height: 200px;" ,class: "card-img"
              - else
                = image_tag 'no_image.png', style: "object-fit: cover; width: 200px; height: 200px;"
            .card-img-overlay.p-0.d-flex.align-items-end.justify-content-center
              %p.h5.card-text.text-white
                = genre.name

.row.mt-5.mb-3
  .col-md-6.d-flex
    %h4.font-weight-bold
      タグから検索する
    %p.text-muted
      (※最近登録された20件を表示しています。)
.row
  - unless tags.blank?
    - tags.each do |tag|
      .p-1.flex-row
        = link_to search_path('search[how]': "match", 'search[model]': "tag", 'search[value]': tag, tag_id: tag.id) do
          %button.btn.btn-outline-secondary.text-nowrap
            = tag.name