<div class="row mt-5 mb-3">
  <div class="col-md-4 d-flex">
    <h4 class="font-weight-bold">カテゴリーから検索する</h4>
  </div>
</div>
<div class="row mb-5 justify-content-center">
  <% unless genres.blank? %>
    <% genres.each do |genre| %>
      <div class="col-md-3 col-sm-3">
        <div class="card my-2" style="max-width: 200px;">
          <%= link_to search_path('search[how]': "match", 'search[model]': "genre", 'search[value]': genre, genre_id: genre.id) do %>
            <div class="bg_image">
              <%= image_tag genre.image, style: "object-fit: cover; width: 200px; height: 200px;" ,class: "card-img" %>
            </div>
            <div class="card-img-overlay p-0 d-flex align-items-end justify-content-center">
              <p class="h5 card-text text-white"><%= genre.name %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>


<div class="row mt-5 mb-3">
  <div class="col-md-6 d-flex">
    <h4 class="font-weight-bold">タグから検索する</h4>
    <p class="text-muted">(※最近登録された20件を表示しています。)</p>
  </div>
</div>
<div class="row">
  <% unless tags.blank? %>
    <% tags.each do |tag| %>
      <div class="p-1 flex-row">
        <%= link_to search_path('search[how]': "match", 'search[model]': "tag", 'search[value]': tag, tag_id: tag.id) do %>
          <button type="button" class="btn btn-outline-secondary text-nowrap">
            <%= tag.name %>
          </button>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>