.mt-5.mb-3
  %h4.font-weight-bold.text-center
    カテゴリーから検索する
.row.mb-5.justify-content-center
  - unless genres.blank?
    - genres.each do |genre|
      .col-md-3.col-sm-6.col-6
        .card.mx-auto.my-2(style="max-width: 200px;")
          = link_to search_path('search[how]': "match", 'search[model]': "genre", 'search[value]': genre, genre_id: genre.id) do
            .bg_image.top-page
              - if genre.image.attached?
                = image_tag genre.image, class: "card-img genre-image img-fluid"
              - else
                = image_tag 'no_image.png', class: "genre-image img-fluid"
            .card-img-overlay.p-0.d-flex.align-items-end.justify-content-center
              %p.h5.card-text.text-white.top-search-label
                = genre.name

.mt-5.mb-3
  %h4.font-weight-bold.text-center
    タグから検索する
  %p.text-muted.text-center
    (※最近登録された20件を表示しています。)
.row
  - unless tags.blank?
    - tags.each do |tag|
      .p-1.flex-row
        = link_to search_path('search[how]': "match", 'search[model]': "tag", 'search[value]': tag, tag_id: tag.id) do
          %button.btn.btn-outline-secondary.text-nowrap
            = tag.name