<h3>商品名検索</h3>
<%= form_with url: search_path, method: :get, local:true do |f| %>
  <%= f.text_field 'search[value]', placeholder: "商品名を入力" %>
  <%= f.hidden_field 'search[model]', value: "product" %>
  <%= f.submit "商品検索", class: "btn btn-outline-success" %>
<% end %>
<h3>カテゴリー検索</h3>
<% @genres.each do |tag| %>
  <%= link_to genre.name, search_path('search[how]': "match", 'search[model]': "genre", 'search[value]': ganre, genre_id: genre.id) %> (<%= genre.products.count %>)
<% end %>
<h3>タグ検索</h3>
<% @tags.each do |tag| %>
  <%= link_to tag.name, search_path('search[how]': "match", 'search[model]': "tag", 'search[value]': tag, tag_id: tag.id) %>
<% end %>
<h3>機器の評価ランキング</h3>
<table>
  <thead>
    <tr>
      <th>機器名</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>
        <% @product_ranking.each do |product| %>
          <%= link_to product.title, product_path(product) %>
          <%#= product.review_average.round(1) %><br>
        <% end %>
      </th>
    </tr>
  </tbody>
</table>
