<div class="container">
  <div class="row my-3 d-flex justify-content-center">
    <span class="h2 col-md-auto">
      お問い合わせ詳細
    </span>
  </div>

  <div class="row">
    <div class="col-10 offset-md-1">
      <table class="table">
        <% unless @contact_messages.contact.user_id == nil %>
          <tr>
            <th scope="col" class="col-4"><strong>会員ID</strong></th>
            <td scope="col" class="col-6">
              <p class="p-0 my-0">
                <%= @contact_messages.contact.user.id %>
              </p>
            </td>
          </tr>
        <% end %>

        <tr>
          <th scope="col" class="col-4"><strong>氏名</strong></th>
          <td scope="col" class="col-6"><%= @contact_messages.name %></td>
        </tr>

        <tr>
          <th scope="col" class="col-4"><strong>メールアドレス</strong></th>
          <td scope="col" class="col-6"><%= @contact_messages.email %></td>
        </tr>

        <tr>
          <th scope="col" class="col-4"><strong>件名</strong></th>
          <td scope="col" class="col-6"><%= @contact_messages.subject %></td>
        </tr>

        <tr>
          <th scope="col" class="col-4"><strong>本文</strong></th>
          <td scope="col" class="col-6">
            <p class="text-break mb-0">
              <%= @contact_messages.body %>
            </p>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row mt-5 mb-3 d-flex justify-content-center">
    <span class="h2 col-md-auto">
      返信内容
    </span>
  </div>

  <% if @admin_messages.present? %>
    <% @admin_messages.each do |message| %>
      <div class="row mb-4">
        <div class="col-10 offset-md-1">
          <table class="table">
            <tr>
              <th scope="col" class="col-4"><strong>件名</strong></th>
              <td scope="col" class="col-6"><%= message.subject %></td>
            </tr>

            <tr>
              <th scope="col" class="col-4"><strong>本文</strong></th>
              <td scope="col" class="col-6">
                <p class="text-break mb-0">
                  <%= message.body %>
                </p>
              </td>
            </tr>
          </table>
        </div>
      </div>
    <% end %>
  <% end %>
  <% if @contact.is_completed == false %>
    <div class="row mt-5 d-flex justify-content-center">
      <div class="col-md-3">
        <%= link_to "対応完了", completed_admin_contact_path(@contact.id), method: :patch, class: "btn btn-outline-primary form-control" %>
      </div>
    </div>
    <% unless @contact_messages.contact.user_id == nil %>
      <div class="posts">
        <%= form_with model: ContactMessage.new, url: admin_contact_messages_path, local:true do |f| %>
          <div class="row">
            <%= render 'layouts/error_messages', model: f.object %>
          </div>
          
          <div class="row mt-3">
            <div class="col-md-1 my-1 p-0 offset-md-3 d-flex align-items-center justify-content-center" style="background-color: #DDDDDD;">
              <p class="m-0">
                <%= f.label :"件名", class: "m-0" %>
              </p>
            </div>
            <div class="col-md-5 my-1 ml-3 p-2" style="background-color: #EEEEEE;" >
              <%= f.text_field :subject, class: "form-control" %>
            </div>

            <div class="col-md-1 my-1 p-0 offset-md-3 d-flex align-items-center justify-content-center" style="background-color: #DDDDDD;">
              <p class="m-0">
                <%= f.label :"本文", class: "m-0" %>
              </p>
            </div>
            <div class="col-md-5 my-1 ml-3 p-2" style="background-color: #EEEEEE;" >
              <%= f.text_area :body, size: "15x15", placeholder: "メッセージを入力して下さい", class: "form-control" %>
            </div>
          </div>
          <%= f.hidden_field :admin_id, value: current_admin.id %>
          <%= f.hidden_field :name, value: "管理者" %>
          <%= f.hidden_field :email, value: "kikisiru@gmai.com" %>
          <%= f.hidden_field :contact_id, value: @contact_messages.contact.id %>
          <div class="row mt-5 d-flex justify-content-center">
            <div class="col-md-3">
              <%= f.submit "投稿",class: "btn btn-outline-secondary form-control" %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <div class="row mt-5 d-flex justify-content-center">
      <div class="col-md-3">
        <%= link_to "一覧に戻る", admin_path, class: "btn btn-outline-secondary form-control" %>
      </div>
    </div>
  <% end %>

</div>
