<%= form_with(model:[product, review], url: product_review_path, local: true) do |f| %>
  <div class="row">
    <%= render 'layouts/error_messages', model: f.object %>
  </div>
  <div class="row mt-3">
    <div class="col-md-1 my-1 p-0 offset-md-3 d-flex align-items-center justify-content-center label-area">
      <p class="m-0">
        <%= f.label :"タイトル", class: "m-0" %>
      </p>
    </div>
    <div class="col-md-5 my-1 ml-3 p-2 text-area">
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="col-md-1 my-1 p-0 offset-md-3 d-flex align-items-center justify-content-center label-area">
      <p class="m-0">
        内容
      </p>
    </div>
    <div class="col-md-5 my-1 ml-3 p-2 text-area">
      <%= f.text_area :comment, size: "20x20", placeholder: "レビューの内容をお書きください", class: "form-control" %>
    </div>

    <div class="col-md-1 my-1 p-0 offset-md-3 d-flex align-items-center justify-content-center label-area">
      <p class="m-0">
        評価
      </p>
    </div>
    <div class="col-md-5 my-1 ml-3 p-2 text-area">
      <div class="row">
        <div class="col-md-5" id="evaluate_stars"></div>
        <div class="col-md-7 m-0">
          ※0.5~5点で評価してください。
        </div>
      </div>
    </div>
    <div class="col-md-1 my-1 p-0 offset-md-3 d-flex align-items-center justify-content-center label-area">
      <p class="m-0">
        タグ
      </p>
    </div>
    <div class="col-md-5 my-1 ml-3 p-2 text-area">
      <%= f.text_field :name, value: @tag_list, class: "form-control" %>
    </div>
    <div class="col-md-12 d-flex justify-content-center">
      <p class="h6">複数のタグをつける場合は「,」で区切ってください</p>
    </div>
    <div class="col-md-12 d-flex justify-content-center">
      <p class="h6">※例:うまい,はやい,おいしい</p>
    </div>
  </div>

  <div class="row mt-5 d-flex justify-content-center">
    <div class="col-md-3">
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :product_id, value: @product.id %>
      <%= f.submit "レビュー内容を保存する", class: "btn btn-outline-secondary form-control" %>
    </div>
  </div>
<% end %>