<div class="container">
  <div class="row mb-3 d-flex justify-content-center">
    <p class="h4">レビュー内容をご確認ください</h1>
  </div>

  <div class="row">
    <div class="col-8 offset-md-2">
      <table class="table" style="table-layout:fixed;">
        <tr>
          <th scope="col" class="col-4"><strong>タイトル</strong></th>
          <td scope="col" class="col-6"><%= @review.title %></td>
        </tr>

        <tr>
          <th scope="col" class="col-4"><strong>レビュー内容</strong></th>
          <td scope="col" class="col-6"><%= @review.comment %></td>
        </tr>

        <tr>
          <th scope="col" class="col-4"><strong>評価</strong></th>
          <td class="review-evaluation" data-score="<%= @review.evaluation %>"></td>
        </tr>
      </table>
    </div>
  </div>

<%= form_with model: @review, url: product_reviews_path, local:true do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :product_id, value: @product.id %>
  <%= f.hidden_field :title, value: @review.title %>
  <%= f.hidden_field :comment, value: @review.comment %>
  <%= f.hidden_field :evaluation, value: @review.evaluation %>
  <div class="row">
    <div class="col-md-3 offset-md-2">
      <%= f.submit "レビュー内容を修正する", name: :return, class: "btn btn-outline-danger" %>
    </div>
    <div class="col-md-3 offset-md-2">
      <%= f.submit "内容を確定しタグ、画像を設定する", class: "btn btn-outline-primary" %>
    </div>
  </div>
<% end %>

<script>
  $('.review-evaluation').empty();
    $('.review-evaluation').raty({
      readOnly: true,
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      starHalf: "<%= asset_path('star-half.png') %>",
      score: function() {
        return $(this).attr('data-score');
      },
    });
</script>