<h1>レビュ一覧</h1>
<table>
  <thead>
    <tr>
      <th>タイトル</th>
      <th>レビュー内容</th>
      <th>評価</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @review.title %></td>
      <td><%= @review.comment %></td>
      <td class="review-evaluation" data-score="<%= @review.evaluation %>"></td>
    </tr>
  </tbody>
</table>


<%= form_with model: @review, url: product_reviews_path, local:true do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :product_id, value: @product.id %>
  <%= f.hidden_field :title, value: @review.title %>
  <%= f.hidden_field :comment, value: @review.comment %>
  <%= f.hidden_field :evaluation, value: @review.evaluation %>
  <%= f.submit "レビュー内容を修正する", name: :return, class: "btn btn-primary" %>
  <%= f.submit "内容を確定し画像の投稿へ", class: "btn btn-primary" %>
<% end %>

<script>
  $('.review-evaluation').empty();
    $('.review-evaluation').raty({
      readOnly: true,
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      starHalf: "<%= asset_path('star-half.png') %>",
      score: function() {
        return $(this).attr('data-score');
      },
    });
</script>