<!-----------------------商品情報----------------------------------------------------------------------->
<% if @product.product_images %>
  <%= image_tag @product.top_image.variant(resize:'100x100') %>
<% else %>
  <%= image_tag 'no_image.png', size: '100x100' %>
<% end %><br>
<%= link_to @product.title, product_path(@product.id) %><br>

<!---------------------レビューした会員の情報------------------------------------------------------------->
<% if @user.profile_image.attached? %>
  <%= image_tag @user.profile_image.variant(resize:'50x50') %>
<% else %>
  <%= image_tag 'no_image.png', size: '100x100' %>
<% end %>

<% if @user.nickname.present? %>
  <%= link_to @user.nickname, user_path(@user.id) %>
<% else %>
  <%= link_to user_path(@user.id) do %>
    匿名<%= @user.id %>さんのレビュー
  <% end %>
<% end %><br>

<!---------------------レビュー情報------------------------------------------------------------->
<div class="review-evaluation" data-score="<%= @review.evaluation %>"></div>
<div><%= @review.evaluation %></div>
<% if user_signed_in? %>
  <% if @user.id == current_user.id %>
    <%= link_to "レビュー編集ページ", edit_product_review_path(@product.id, @review.id) %>
  <% end %><br>
<% end %>

<%= @review.title %>
<%= @review.comment %>
<% if @review.review_images %>
  <% @review.review_images.each do |review_image| %>
    <% review_image.images.each do |image| %>
      <%= image_tag image.variant(resize:'100x100') %>
    <% end %>
    <%= review_image.description %>
  <% end %>
<% end %>

<% if user_signed_in? %>
  <div class="favorite-<%= @product.id %>">
    <%= render 'public/favorites/favorite-btn', product: @product %>
  </div>
<% end %>

<table>
  <tbody>
    <tr>
      <th><strong>商品名</strong></th>
      <td><%= @product.title %></td>
    </tr>
  </tbody>

  <tbody>
    <tr>
      <th><strong>メーカー</strong></th>
      <td><%= @product.manufacture %></td>
    </tr>
  </tbody>

  <tbody>
    <tr>
      <th><strong>型式</strong></th>
      <td><%= @product.model %></td>
    </tr>
  </tbody>

  <tbody>
    <tr>
      <th><strong>定価</strong></th>
      <td><%= @product.price %>円</td>
    </tr>
  </tbody>

  <tbody>
    <tr>
      <th><strong>寸法</strong></th>
      <td><%= @product.width %>×<% @product.depth %>×<%= @product.height %>mm</td>
    </tr>
  </tbody>

  <tbody>
    <tr>
      <th><strong>重量</strong></th>
      <td><%= @product.weight %>kg</td>
    </tr>
  </tbody>

  <tbody>
    <tr>
      <th><strong>電源</strong></th>
      <td><%= @product.phase %></td>
    </tr>
  </tbody>

  <tbody>
    <tr>
      <th><strong>消費電力</strong></th>
      <td><%= @product.power_consumption %>kW</td>
    </tr>
  </tbody>

  <tbody>
    <tr>
      <th><strong>ガス消費量(都市ガス)</strong></th>
      <td><%= @product.city_gas %>kW</td>
    </tr>
  </tbody>

  <tbody>
    <tr>
      <th><strong>ガス消費量(PLガス)</strong></th>
      <td><%= @product.propane_gas %>kW</td>
    </tr>
  </tbody>

  <tbody>
    <tr>
      <th><strong>商品説明</strong></th>
      <td><%= @product.description %></td>
    </tr>
  </tbody>
</table>
<% if user_signed_in? %>
  <% if @product.allow_edit == true %>
    <%= link_to "商品編集ページ", edit_product_path %>
  <% end %>
<% end %>
<h1>レビュ一覧</h1>
<table>
  <thead>
    <tr>
      <th>レビュー内容</th>
      <th>評価</th>
    </tr>
  </thead>
  <tbody>
    <% @reviews.each do |review| %>
      <tr>
        <td><%= link_to review.title, product_review_path(@product.id, review.id) %></td>
        <td><%= review.comment %></td>
        <td class="review-evaluation" data-score="<%= review.evaluation %>"></td>
        <td><%= review.evaluation %></div></td>
      </tr>
    <% end %>
  </tbody>
</table>
<script>
  $('.review-evaluation').empty();
    $('.review-evaluation').raty({
      readOnly: true,
      score: function() {
        return $(this).attr('data-score');
      },
      path: '/assets/'
    });
</script>