<div class="row mb-4">
  <span class="h4 offset-md-1">機器詳細</span>
  <div class="col">
    <%= link_to edit_admin_product_path, class: "text-decoration-none" do %>
      <button type="button" class="btn btn-outline-secondary p-1">
        <span>
          機器情報を編集する
        </span>
      </button>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-8 offset-md-2">
    <table class="table" style="table-layout:fixed;">
      <tr>
        <th scope="col" class="col-4"><strong>機器名</strong></th>
        <td scope="col" class="col-6"><%= @product.title %></td>
      </tr>
      
      <tr>
        <th scope="col" class="col-4"><strong>メーカー</strong></th>
        <td scope="col">
          <% if @product.manufacture.present? %>
            <%= @product.manufacture %>
          <% else %>
           <span>-</span>
          <% end %>
        </td>
      </tr>
      
      <tr>
        <th scope="col" class="col-4"><strong>型式</strong></th>
        <td scope="col"><%= @product.model %></td>
      </tr>
      
      <tr>
        <th scope="col" class="col-4"><strong>ジャンル</strong></th>
        <td scope="col"><%= @product.genre.name %></td>
      </tr>
      
      <tr>
        <th scope="col" class="col-4"><strong>定価</strong></th>
        <td scope="col">
          <% if @product.price.present? %>
            <%= @product.price %>円
          <% else %>
            <span>- 円</span>
          <% end %>
        </td>
      </tr>
      
      <tr>
        <th scope="col" class="col-4"><strong>寸法</strong><%= @product.product_size_unit %></th>
        <td scope="col"><%= @product.product_size %></td>
      </tr>
      
      <tr>
        <th scope="col" class="col-4"><strong>重量</strong></th>
        <td scope="col">
          <% if @product.weight.present? %>
            <%= @product.weight %>kg
          <% else %>
            <span>- kg</span>
          <% end %>
        </td>
      </tr>
      
      <tr>
        <th scope="col" class="col-4"><strong>電源</strong></th>
        <td scope="col">
          <% if @product.phase.present? %>
            <%= @product.phase %>
          <% else %>
            <span>-</span>
          <% end %>
        </td>
      </tr>
      
      <tr>
        <th scope="col" class="col-4"><strong>消費電力</strong></th>
        <td scope="col">
          <% if @product.power_consumption.present? %>
            <%= @product.power_consumption %>kW
          <% else %>
            <span>- kW</span>
          <% end %>
        </td>
      </tr>
      
      <tr>
        <th scope="col" class="col-4"><strong>ガス消費量(都市ガス)</strong></th>
        <td scope="col">
          <% if @product.city_gas.present? %>
            <%= @product.city_gas %>kW
          <% else %>
            <span>- kW</span>
          <% end %>
        </td>
      </tr>
      
      <tr>
        <th scope="col" class="col-4"><strong>ガス消費量(PLガス)</strong></th>
        <td scope="col">
          <% if @product.propane_gas.present? %>
            <%= @product.propane_gas %>kW
          <% else %>
            <span>- kW</span>
          <% end %>
        </td>
      </tr>
      
      <tr>
        <th scope="col" class="col-4"><strong>機器説明</strong></th>
        <td scope="col">
          <p scope="col" class="text-break mb-0">
            <%= @product.description %>
          </p>
        </td>
      </tr>



      <th scope="col" class="col-4"><strong>タグ</strong></th>
        <td scope="col">
          <div class="row">
            <% product.product_tags.each do |tag| %>
              <div class="p-1 m-1 border flex-row">
                <%= tag.name %>
              </div>
            <% end %>
          </div>
        </td>
      </tr>

      <tr>
        <th scope="col" class="col-4"><strong>投稿者</strong></th>
        <td scope="col">
          <% if product.user.present? %>
            <% if product.user.nickname.present? %>
              <%= link_to product.user.nickname, admin_user_path(product.user.id)%>さん
            <% else %>
              <%= link_to admin_user_path(product.user.id) do %>
                匿名<%= product.user.id %>さん
              <% end %>
            <% end %>
          <% else %>
            管理者
          <% end %>
        </td>
      </tr>
      
      <tr>
        <th scope="col" class="col-4"><strong>編集権限</strong></th>
        <td scope="col">
          <% if product.allow_edit == true %>
            誰でも編集可能
          <% else %>
            投稿者のみ編集可能
          <% end %>
        </td>
      </tr>

    </table>
  </div>
</div>
