<div class="container">
  <div class="row d-flex justify-content-center">
    <% unless @product.product_images.empty? %>
      <div class="col-md-12 d-flex justify-content-center">
        <p class="h4">現在登録されている画像</p>
      </div>
      <% @product.product_images.each do |product_image| %>
        <% product_image.images.each do |image| %>
          <div class="col-md-4">
            <%= form_with model: product_image, url: admin_product_image_path(product_image), method: :patch, local:true do |f| %>
              <div class="card mb-3">
                <div class="card-body p-1">
                  <div class="card-img-top mt-2 d-flex justify-content-center">
                    <%= image_tag image, style: "object-fit: cover; width: 175px; height: 175px;" %>
                  </div>
                  <p class="card-text mb-0">
                    <%= f.label :"画像説明", class: "m-0" %>
                  </p>
                  <p class="card-text text-break mb-2 d-flex justify-content-center">
                    <%= f.text_field :description, class: "form-control" %>
                  </p>
                </div>
                <div class="mb-3">
                  <%= f.submit "更新", class: "btn btn-outline-primary col-md-4 offset-md-1" %>
                  <%= link_to admin_product_image_path(product_image), method: :delete do %>
                    <button type="button" class="btn btn-outline-danger col-md-4 offset-md-2">
                      <span>
                        削除
                      </span>
                    </button>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <div class="row mt-5">
    <div class="col-md-12 d-flex justify-content-center">
      <p class="h4">画像追加したい場合</p>
    </div>
    <div class="col-md-12 d-flex justify-content-center">
      <p class="h5">（「画像を追加する」をクリックするとフォームが表示されます）</p>
    </div>
    <div class="col-md-12 mt-5 d-flex justify-content-center">
      <%= form_with model: Product.new, url: update_image_admin_product_path, method: :patch, local:true do |s| %>
        <div class="row">
          <%= render 'layouts/error_messages', model: @product %>
        </div>
        <div class="col-md-12 d-flex justify-content-center">
          <div class="products">
            <%= s.fields_for :product_images do |t| %>
              <%= render "product_image_fields", f: t %>
            <% end %>
            <div class="links d-flex justify-content-center">
              <%= link_to_add_association "画像を追加する", s, :product_images, class: 'btn btn-outline-secondary p-1' %>
            </div>
          </div>
        </div>
        <div class="mt-4 d-flex justify-content-center">
          <%= s.hidden_field :product_id, value: @product.id %>
          <%= s.hidden_field :name, value: @tag_list %>
          <%= s.submit "画像情報を更新する", class: "btn btn-outline-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>