<div class="container">
  <% if @target == "image" %>
    <!--画像編集をクリックした時------------------------------------------------------------------------------------->

    <%= render 'admin/products/product_image_edit', product: @product %>

    <!--商品編集をクリックした時------------------------------------------------------------------------------------>
  <% else %>
    <%= form_with model: @product, url: admin_product_path, local:true do |f| %>
      <div class="row">
        <%= render 'layouts/error_messages', model: f.object %>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-md-3">
          <div class="card">
            <div class="card-body p-1">
              <p class="card-text text-break d-flex justify-content-center">
                現在登録されているトップ画像
              </p>
            </div>
            <div class="card-img-bottom my-3 d-flex justify-content-center">
              <%= image_tag @product.top_image, style: "object-fit: cover; width: 200px; height: 200px;" %>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-3 d-flex justify-content-center">
        <div class="col-md-auto" style="background-color: #DDDDDD;">
          <%= f.label :"トップ画像を変更する場合は画像ファイルを選択してください" %>
        </div>
        <div class="w-100"></div>
        <div class="col-md-auto" style="background-color: #EEEEEE;">
          <%= f.file_field :top_image %>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-12 mt-3 d-flex justify-content-center">
          <p class="h4">機器詳細</p>
        </div>

        <div class="col-md-1 my-1 p-0 offset-md-3 d-flex align-items-center justify-content-center" style="background-color: #DDDDDD;">
          <p class="m-0">
            <%= f.label :"機器名", class: "m-0" %>
          </p>
        </div>
        <div class="col-md-5 my-1 ml-3 p-2" style="background-color: #EEEEEE;" >
          <%= f.text_field :title, class: "form-control" %>
        </div>

        <div class="col-md-1 my-1 p-0 offset-md-3 d-flex align-items-center justify-content-center" style="background-color: #DDDDDD;">
          <p class="m-0">
            <%= f.label :"メーカー", class: "m-0" %>
          </p>
        </div>
        <div class="col-md-5 my-1 ml-3 p-2" style="background-color: #EEEEEE;" >
          <%= f.select :manufacture, Product.manufactures.keys, {include_blank: '選択してください'}, class: "form-control" %>
        </div>

        <div class="col-md-1 my-1 p-0 offset-md-3 d-flex align-items-center justify-content-center" style="background-color: #DDDDDD;">
          <p class="m-0">
            <%= f.label :"*型式", class: "m-0" %>
          </p>
        </div>
        <div class="col-md-5 my-1 ml-3 p-2" style="background-color: #EEEEEE;" >
          <%= f.text_field :model, class: "form-control"%>
        </div>

        <div class="col-md-1 my-1 p-0 offset-md-3 d-flex align-items-center justify-content-center" style="background-color: #DDDDDD;">
          <p class="m-0">
            <%= f.label :"*ジャンル", class: "m-0" %>
          </p>
        </div>
        <div class="col-md-5 my-1 ml-3 p-2" style="background-color: #EEEEEE;" >
          <%= f.collection_select :genre_id, @genres, :id, :name, {prompt: "--選択してください--"}, class: "form-control" %>
        </div>

        <div class="col-md-1 my-1 p-0 offset-md-3 d-flex align-items-center justify-content-center" style="background-color: #DDDDDD;">
          <p class="m-0">
            <%= f.label :"定価", class: "m-0" %>
          </p>
        </div>
        <div class="col-md-4 my-1 ml-3 p-2" style="background-color: #EEEEEE;" >
          <%= f.text_field :price, class: "form-control" %>
        </div>
        <div class="col-md-1 my-1 p-0 d-flex align-items-center" style="background-color: #EEEEEE;" >
          <span>円</span>
        </div>

        <div class="col-md-1 my-1 p-0 offset-md-3 d-flex align-items-center justify-content-center" style="background-color: #DDDDDD;">
          <p class="m-0">
            寸法
          </p>
        </div>
        <div class="row ml-3">
          <div class="col-md-2 my-1 pl-3 pr-1 pb-2" style="background-color: #EEEEEE;" >
            <%= f.label :"間口", class: "pt-1 mb-0" %>
            <%= f.text_field :width, class: "form-control" %>
          </div>
          <div class="col-md-2 my-1 pr-1 pb-2" style="background-color: #EEEEEE;" >
            <%= f.label :"奥行", class: "pt-1 mb-0" %>
            <%= f.text_field :depth, class: "form-control" %>
          </div>
          <div class="col-md-2 my-1 pr-1 pb-2" style="background-color: #EEEEEE;" >
            <%= f.label :"高さ", class: "pt-1 mb-0" %>
            <%= f.text_field :height, class: "form-control" %>
          </div>
          <div class="col-md-2 my-1 pt-3 pl-2 pr-3 d-flex align-items-center" style="background-color: #EEEEEE;" >
            <span>mm</span>
          </div>
        </div>

        <div class="col-md-1 my-1 p-0 offset-md-3 d-flex align-items-center justify-content-center" style="background-color: #DDDDDD;">
          <p class="m-0">
            <%= f.label :"重量", class: "m-0" %>
          </p>
        </div>
        <div class="col-md-4 my-1 ml-3 p-2" style="background-color: #EEEEEE;" >
          <%= f.text_field :weight, class: "form-control" %>
        </div>
        <div class="col-md-1 my-1 p-0 d-flex align-items-center" style="background-color: #EEEEEE;" >
          <span>kg</span>
        </div>

        <div class="col-md-1 my-1 p-0 offset-md-3 d-flex align-items-center justify-content-center" style="background-color: #DDDDDD;">
          <p class="m-0">
            <%= f.label :"電源", class: "m-0" %>
          </p>
        </div>
        <div class="col-md-5 my-1 ml-3 p-2" style="background-color: #EEEEEE;" >
          <%= f.select :phase, Product.phases.keys, {include_blank: '選択してください'}, class: "form-control" %>
        </div>

        <div class="col-md-1 my-1 p-0 offset-md-3 d-flex align-items-center justify-content-center" style="background-color: #DDDDDD;">
          <p class="m-0">
            <%= f.label :"消費電力", class: "m-0" %>
          </p>
        </div>
        <div class="col-md-4 my-1 ml-3 p-2" style="background-color: #EEEEEE;" >
          <%= f.text_field :power_consumption, class: "form-control" %>
        </div>
        <div class="col-md-1 my-1 p-0 d-flex align-items-center" style="background-color: #EEEEEE;" >
          <span>kW</span>
        </div>

        <div class="col-md-1 my-1 p-0 offset-md-3 d-flex align-items-center justify-content-center" style="background-color: #DDDDDD;">
          <p class="m-0">
            ガス消費量
          </p>
        </div>
        <div class="row ml-3">
          <div class="col-md-4 my-1 pl-1 pr-1 pb-2" style="background-color: #EEEEEE;" >
            <%= f.label :"都市ガス", class: "pt-1 mb-0" %>
            <%= f.text_field :power_consumption, class: "form-control" %>
          </div>
          <div class="col-md-1 my-1 pt-3 pr-5 d-flex align-items-center justify-content-center" style="background-color: #EEEEEE;" >
            <span>kW️</span>
          </div>
          <div class="col-md-4 my-1 px-0 pb-2" style="background-color: #EEEEEE;" >
            <%= f.label :"プロパンガス", class: "pt-1 mb-0" %>
            <%= f.text_field :propane_gas, class: "form-control" %>
          </div>
          <div class="col-md-1 my-1 pt-3 d-flex align-items-center justify-content-center" style="background-color: #EEEEEE;" >
            <span>️kW</span>
          </div>
        </div>

        <div class="col-md-1 my-1 p-0 offset-md-3 d-flex align-items-center justify-content-center" style="background-color: #DDDDDD;">
          <p class="m-0">
            機器説明
          </p>
        </div>
        <div class="col-md-5 my-1 ml-3 p-2" style="background-color: #EEEEEE;" >
          <%= f.text_area :description, size: "20x20", placeholder: "その他機器の説明や特徴をお書きください", class: "form-control" %>
        </div>

        <div class="col-md-1 my-1 p-0 offset-md-3 d-flex align-items-center justify-content-center" style="background-color: #DDDDDD;">
          <p class="m-0">
            編集権限
          </p>
        </div>
        <div class="row ml-3">
          <div class="col-md-2 mt-1 pr-0 d-flex align-items-center justify-content-center" style="background-color: #EEEEEE;" >
            <%= f.label :"編集可能", class: "mb-0" %>
          </div>
          <div class="col-md-2 mt-1 pl-1 d-flex align-items-center" style="background-color: #EEEEEE;" >
            <%= f.radio_button :allow_edit, :true, checked: true %>
          </div>
          <div class="col-md-1 mt-1 pl-4" style="background-color: #EEEEEE;" ></div>
          <div class="col-md-2 mt-1 pr-0 d-flex align-items-center justify-content-center" style="background-color: #EEEEEE;" >
            <%= f.label :"編集不可", class: "mb-0" %>
          </div>
          <div class="col-md-2 mt-1 pl-1 d-flex align-items-center" style="background-color: #EEEEEE;" >
            <%= f.radio_button :allow_edit, :false %>
          </div>
          <div class="col-md-9 mt-0 mb-1 pr-0  d-flex align-items-center justify-content-center" style="background-color: #EEEEEE;" >
            <p class="m-0">
              ※誰でも編集できるかどうかを選択してください。
            </p>
          </div>
        </div>

        <div class="col-md-1 my-1 p-0 offset-md-3 d-flex align-items-center justify-content-center" style="background-color: #DDDDDD;">
          <p class="m-0">
            タグ
          </p>
        </div>
        <div class="col-md-5 my-1 ml-3 p-2" style="background-color: #EEEEEE;" >
          <%= f.text_field :name, value: @tag_list, class: "form-control" %>
        </div>
        <div class="col-md-12 d-flex justify-content-center">
          <p class="h6">複数のタグをつける場合は「,」で区切ってください</p>
        </div>
        <div class="col-md-12 d-flex justify-content-center">
          <p class="h6">※例:うまい,はやい,おいしい</p>
        </div>
      </div>

      <div class="row mt-3 d-flex justify-content-center">
        <div class="col-md-3">
          <%= f.submit "機器情報を保存する", class: "btn btn-outline-secondary form-control" %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>