<div class="container">
  <div class="row">
    <div class="left-button">
      <%= link_to "＜機器一覧に戻る", admin_products_path %>
    </div>
  </div>
  <%= render 'public/products/product_top', product: @product %>
  <div class="container pt-3">
    <%= render 'admin/products/detail', product: @product %>
    <div class="row mb-4">
      <span class="h4 offset-md-1">機器写真</span>
      <div class="col-3">
        <%= link_to edit_admin_product_path(target: "image"), class: "text-decoration-none" do %>
          <button type="button" class="btn btn-outline-secondary p-1">
            <span>
              機器画像を編集する
            </span>
          </button>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-10 offset-md-1">
        <div class="row">
          <% if @all_images.present? %>
            <% @all_images.each do |product_image| %>
              <% product_image.images.each do |image| %>
                <div class="col-2 p-1">
                  <div class="card">
                    <div class="card-img-top p-1 d-flex justify-content-center">
                      <%= image_tag image, style: "object-fit: cover; width: 125px; height: 125px;" %>
                    </div>
                    <div class="card-body p-1">
                      <p class="card-text text-break">
                        <%= product_image.description %>
                      </p>
                    </div>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% else %>
            <div class="col d-flex justify-content-center">
              <span class="h5">まだ画像は投稿されていません</span>
            </div>
          <% end %>
        </div>
        <div class="container d-flex justify-content-center">
          <%= paginate @all_images %>
        </div>
      </div>
    </div>

    <div class="row mt-5 mb-2">
      <span class="h4 offset-md-1">レビュー</span>
    </div>
    <% if @reviews.blank? %>
      <div class="container-fluid">
        <div class="row">
          <div class="col d-flex justify-content-center">
            <span class="h5">まだレビューは投稿されていません</span>
          </div>
        </div>
        <div class="row">
          <div class="col d-flex justify-content-center">
            <span class="h6">この機器を使われたことがある方は、レビューを投稿してみませんか？</span>
          </div>
        </div>
      </div>
    <% else %>
    <div class="row">
      <% @reviews.each do |review| %>
        <div class="col-10 offset-md-1">
          <%= link_to admin_product_review_path(@product.id, review.id), class: "text-decoration-none" do %>
            <%= render 'public/reviews/review_top', review: review %>
          <% end %>
          <div class="container d-flex justify-content-center">
            <%= paginate @reviews %>
          </div>
        </div>
      <% end %>
      <% end %>
    </div>
  </div>
</div>

<script>
  $('.review-evaluation').empty();
    $('.review-evaluation').raty({
      readOnly: true,
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      starHalf: "<%= asset_path('star-half.png') %>",
      score: function() {
        return $(this).attr('data-score');
      },
    });
</script>
<script>
  $('.review-average').empty();
    $('.review-average').raty({
      readOnly: true,
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      starHalf: "<%= asset_path('star-half.png') %>",
      score: function() {
        return $(this).attr('data-score');
      },
    });
</script>
