<div class="container">
  <div class="row mb-3 d-flex justify-content-center">
    <p class="h4">会員詳細</h1>
  </div>

  <div class="row mb-3 d-flex justify-content-center">
    <% if @user.profile_image.attached? %>
      <%= image_tag @user.profile_image, class: "profile-image" %>
    <% else %>
      <%= image_tag 'no_image.png', class: "profile-image" %>
    <% end %>
  </div>
  <div class="row">
    <div class="col-8 offset-md-2">
      <table class="table" style="table-layout:fixed;">
        <tr>
          <th scope="col" class="col-4"><strong>姓</strong></th>
          <td scope="col" class="col-6"><%= @user.last_name %></td>
        </tr>
        
        <tr>
          <th scope="col" class="col-4"><strong>名</strong></th>
          <td scope="col" class="col-6"><%= @user.first_name %></td>
        </tr>
        
        <tr>
          <th scope="col" class="col-4"><strong>セイ</strong></th>
          <td scope="col" class="col-6"><%= @user.last_name_kana %></td>
        </tr>
        
        <tr>
          <th scope="col" class="col-4"><strong>メイ</strong></th>
          <td scope="col" class="col-6"><%= @user.first_name_kana %></td>
        </tr>
        
        <tr>
          <th scope="col" class="col-4"><strong>ニックネーム</strong></th>
          <td scope="col" class="col-6">
            <% if @user.nickname.blank? %>
              <p class="m-0 text-muted">未登録</p>
            <% else %>
              <%= @user.nickname %>
            <% end %>
          </td>
        </tr>
        
        <tr>
          <th scope="col" class="col-4"><strong>電話番号</strong></th>
          <td scope="col" class="col-6">
            <% if @user.phone_number.blank? %>
              <p class="m-0 text-muted">未登録</p>
            <% else %>
              <%= @user.phone_number %>
            <% end %>
          </td>
        </tr>
        
        <tr>
          <th scope="col" class="col-4"><strong>メールアドレス</strong></th>
          <td scope="col" class="col-6"><%= @user.email %></td>
        </tr>
        
        <tr>
          <th scope="col" class="col-4"><strong>会員状態</strong></th>
          <td scope="col" class="col-6">
            <% if @user.is_deleted == true %>
              <p class="m-0 text-success">有効</p>
            <% else %>
              <p class="m-0 text-muted">退会</p>
            <% end %>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row mt-3 d-flex justify-content-center">
    <div class="col-md-3">
      <%= link_to "編集", edit_admin_user_path, class: "btn btn-outline-success form-control" %>
    </div>
  </div>
  <div class="row mt-3 d-flex justify-content-center">
    <div class="col-md-3">
      <%= link_to "一覧に戻る", admin_users_path, class: "btn btn-outline-secondary form-control" %>
    </div>
  </div>
</div>
