<% if @rooms.exists? %>
  <% @rooms.each do |room| %>
    <% room.users.each do |user| %>
      <% unless user.id == current_user.id %>
        <% if user.nickname.present? %>
          <%= link_to user_path(user.id) do %>
            <%= user.nickname %>さん
          <% end %>
        <% else %>
          <%= link_to user_path(user.id) do %>
            匿名<%= user.id %>さん
          <% end %>
        <% end %><br>
        <% if user.profile_image.attached? %>
          <%= image_tag user.profile_image.variant(resize:'100x100') %>
        <% else %>
          <%= image_tag 'no_image.jpg' %>
        <% end %>
      <% end %>
    <% end %>
    <%= link_to "チャットへ", room_path(room.id) %><br>
  <% end %>
<% else %>
  <p>チャットはありません</p>
<% end %>

