<% if @entries.empty? %>
  <p>チャットはありません</p>
<% end %>
<% @entries.each do |room| %>
  <% if room.user.nickname.present? %>
    <%= link_to user_path(room.user.id) do %>
      <%= room.user.nickname %>さん
    <% end %>
  <% else %>
    <%= link_to user_path(room.user.id) do %>
      匿名<%= room.user.id %>さん
    <% end %>
  <% end %><br>
  <% if room.user.profile_image.attached? %>
    <%= image_tag room.user.profile_image.variant(resize:'100x100') %>
  <% else %>
    <%= image_tag 'no_image.png', size: '100x100' %>
  <% end %>
  <%= link_to "チャットへ", room_path(room.room_id) %><br>
  <% if room.direct_messages != [] %>
  <p><%= room.direct_messages.last.message %></p>
    <span>
      <% if room.check_message %>
        <i class="fa fa-circle fa-x" style="color: blue;"></i>
      <% end %>
    </span>
    <%= (room.direct_messages.last).created_at.strftime("%Y/%m/%d %H:%M") %>
  <% end %>
<% end %>

