<% if @entries.exists? %>
  <% @another_entries.each do |entry| %>

    <% if entry.user.nickname.present? %>
      <%= link_to user_path(entry.user.id) do %>
        <%= entry.user.nickname %>さん
      <% end %>
    <% else %>
      <%= link_to user_path(entry.user.id) do %>
        匿名<%= entry.user.id %>さん
      <% end %>
    <% end %><br>

    <% if entry.user.profile_image.attached? %>
      <%= image_tag entry.user.profile_image.variant(resize:'100x100') %>
    <% else %>
      <%= image_tag 'no_image.jpg' %>
    <% end %>
    <%= link_to "チャットへ", room_path(entry.room.id) %>
  <% end %><br>
<% else %>
  <p>チャットはありません</p>
<% end %>

