<div class="container">
  <%= render 'header', user: @user %>
  <% if @products.present? %>
    <% @products.each do |product| %>
      <%= link_to  product_path(product.id), class:"text-decoration-none" do %>
        <%= render 'public/products/product_top', product: product %>
      <% end %>
    <% end %>
    <div class="row d-flex justify-content-center">
      <%= paginate @products %>
    </div>
  <% else %>
    <p>投稿した機器はありません</p>
  <% end %>
</div>

<script>
  $('.review-average').empty();
    $('.review-average').raty({
      readOnly: true,
      starOn: "<%= asset_path('star-on.png') %>",
      starOff: "<%= asset_path('star-off.png') %>",
      starHalf: "<%= asset_path('star-half.png') %>",
      score: function() {
        return $(this).attr('data-score');
      },
    });
</script>
