<!DOCTYPE html>
<html>
  <head>
    <title>キキシル</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/8f0be0a856.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
  </head>

  <body>
    <div class="footerFixed">
      <header>
        <% if current_page?(root_path) %>
          <div class="header-img position-relative">
            <nav class="navbar navbar-expand-lg navbar-light">
        <% else %>
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <% end %>
          <div class="container-fluid position-relative">
            <a class="navbar-brand" href="/">
              <%= image_tag 'logo_transparent.png', style: "height: 50px;" %>
            </a>
            <p class="m-0">業務用厨房機器レビューサイト</p>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerList" aria-controls="navbarTogglerList" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarTogglerList">
              <ul class="navbar-nav">
                <% if user_signed_in? %>
                <!--会員ログイン後のヘッダー-------------------------------------------------------------------------->
                  <li class="nav-item d-flex justify-content-end">
                    <a class="nav-link text-dark">
                      <% if current_user.nickname.present? %>
                        <%= current_user.nickname %>さん
                      <% else %>
                        匿名<%= current_user.id %>さん
                      <% end %>
                    </a>
                  </li>

                  <li class="nav-item d-flex justify-content-end">
                    <%= link_to "マイページ", user_path(current_user), class: "nav-link text-dark" %>
                  </li>

                  <li class="nav-item d-flex justify-content-end">
                    <%= link_to room_user_path(current_user), class:"nav-link text-dark" do %>
                      <i class="far fa-envelope fa-lg.fa-stack-2x" style="font-size: 1.5em;"></i>
                      <% if current_user.unchecked_message? %>
                        <i class="fa fa-circle fa-xs n-circle-chat" style="color: blue;"></i>
                      <% end %>
                    <% end %>
                  </li>

                  <li class="nav-item d-flex justify-content-end">
                    <%= link_to "お問い合わせ", contacts_path, class:"nav-link text-dark" %>
                  </li>

                  <li class="nav-item d-flex justify-content-end">
                    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link text-dark" %>
                  </li>


                <% elsif admin_signed_in? %>
                <!--管理者ログイン後のヘッダー-------------------------------------------------------------------------->
                  <li class="nav-item d-flex justify-content-end">
                    <%= link_to "お問い合わせ一覧", admin_path, class:"nav-link text-dark" %>
                  </li>

                  <li class="nav-item d-flex justify-content-end">
                    <%= link_to "会員一覧", admin_users_path, class:"nav-link text-dark" %>
                  </li>

                  <li class="nav-item d-flex justify-content-end">
                    <%= link_to "機器一覧", admin_products_path, class:"nav-link text-dark" %>
                  </li>

                  <li class="nav-item d-flex justify-content-end">
                    <%= link_to "ジャンル一覧", admin_genres_path, class:"nav-link text-dark" %>
                  </li>

                  <li class="nav-item d-flex justify-content-end">
                    <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link text-dark" %>
                  </li>


                <% else %>
                <!--ログイン前のヘッダー----------------------------------------------------------------------------->

                  <li class="nav-item d-flex justify-content-end">
                    <a class="nav-link text-dark">
                      ようこそゲストさん
                    </a>
                  </li>
                  <li class="nav-item d-flex justify-content-end">
                    <%= link_to "お問い合わせ", contacts_path, class:"nav-link text-dark" %>
                  </li>

                  <li class="nav-item d-flex justify-content-end">
                    <%= link_to "新規登録/ログイン", new_user_session_path, class: "nav-link text-dark" %>
                  </li>

                <% end %>
              </ul>
            </div>
          </div>
        </nav>
        <% if current_page?(root_path) %>
          <div class="header-title">
            <h1 class="font-weight-bold">
              厨房機器で悩んだら<br class="d-block d-md-none">「キキシル」
            </h1>
          </div>
        </div>
        <% else %>
        <% end %>
      </header>

      <% if flash[:alert] %>
        <div class="alert">
          <div class="col-md-12">
            <span class="h4">
              <%= flash[:alert] %>
            </span>
          </div>
        </div>
      <% elsif flash[:notice] %>
        <div class="notice">
          <div class="col-md-12">
            <span class="h4">
              <%= flash[:notice] %>
            </span>
          </div>
        </div>
      <% else %>
    　<% end %>
      <div class="mb-5">
        <%= yield %>
      </div>

      <footer class="container-fluid py-3 bg-light">
       <p class="mb-0">©︎kikisiru.com</p>
      </footer>
    </div>
  </body>
</html>
