<!DOCTYPE html>
<html>
  <head>
    <title>キキシル</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/8f0be0a856.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
          <%= image_tag 'logo_transparent.png', style: "height: 50px;" %>
        </a>
        <div class="container-fluid justify-content-end">
          <ul class="navbar-nav">
            <% if user_signed_in? %>
            <!--会員ログイン後のヘッダー-------------------------------------------------------------------------->
              <li class="nav-item">
                <a class="nav-link text-dark">
                  <% if current_user.nickname.present? %>
                    <%= current_user.nickname %>さん
                  <% else %>
                    匿名<%= current_user.id %>さん
                  <% end %>
                </a>
              </li>

              <li class="nav-item">
                <%= link_to "マイページ", user_path(current_user), class: "nav-link text-dark" %>
              </li>

              <li class="nav-item">
                <%= link_to room_user_path(current_user), class:"nav-link text-dark" do %>
                  <i class="far fa-envelope fa-lg.fa-stack-2x fa-backcolor" style="font-size: 1.5em;"></i>
                  <% if current_user.unchecked_message? %>
                    <i class="fa fa-circle fa-xs n-circle-chat" style="color: blue;"></i>
                  <% end %>
                <% end %>
              </li>

              <li class="nav-item">
                <%= link_to "お問い合わせ", contacts_path, class:"nav-link text-dark" %>
              </li>

              <li class="nav-item">
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link text-dark" %>
              </li>

            <% elsif admin_signed_in? %>
            <!--管理者ログイン後のヘッダー-------------------------------------------------------------------------->
              <li class="nav-item">
                <%= link_to "お問い合わせ一覧", admin_path, class:"nav-link text-dark" %>
              </li>

              <li class="nav-item">
                <%= link_to "会員一覧", admin_users_path, class:"nav-link text-dark" %>
              </li>

              <li class="nav-item">
                <%= link_to "機器一覧", admin_products_path, class:"nav-link text-dark" %>
              </li>

              <li class="nav-item">
                <%= link_to "ジャンル一覧", admin_genres_path, class:"nav-link text-dark" %>
              </li>



              <li class="nav-item">
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link text-dark" %>
              </li>

            <% else %>
            <!--ログイン前のヘッダー----------------------------------------------------------------------------->
              <li class="nav-item">
                <%= link_to "お問い合わせ", contacts_path, class:"nav-link text-dark" %>
              </li>

              <li class="nav-item">
                <%= link_to "新規登録/ログイン", new_user_session_path, class: "nav-link text-dark" %>
              </li>

            <% end %>
          </ul>
        </div>
      </nav>
      <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
          <span>商品名で検索する</span>
          <%= form_with url: search_path, method: :get, local:true do |f| %>
            <%= f.text_field 'search[value]', placeholder: "商品名を入力" %>
            <%= f.hidden_field 'search[model]', value: "product" %>
            <%= f.submit "商品検索", class: "btn btn-outline-success" %>
          <% end %>
        </div>
      </nav>
    </header>
    <% if flash[:alert] %>
      <div class="alert">
        <%= flash[:alert] %>
      </div>
    <% elsif flash[:notice] %>
      <div class="notice">
        <%= flash[:notice] %>
      </div>
    <% else %>
  　<% end %>
  　<% if user_signed_in? %>
      <%= link_to "機器投稿ページ", products_path %><br>
    <% end %>
    <%= yield %>
    <footer class="text-center">
      ©︎kikisiru.com
    </footer>
  </body>
</html>
